@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-sérif;
}
body{
    background-color: hsl(0, 0%, 8%);
}
img{
    width: 22%;
    height: 22%;
    border-radius: 100%;
    margin-bottom: 20px;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    position: absolute;
    top: 4.5%;
    left: 35%;
    width: 30%;
    height: auto;
    border-radius: 12px;
    padding-top: 3%;
    padding-bottom: 1.5%;
    padding-left: 8px;
    padding-right: 8px;
}
button{
    width: 85%;
    height: 18%;
    padding: 3%;
    background-color: hsl(0, 0%, 20%);
    border: none;
    margin-bottom: 3%;
    border-radius: 6px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    cursor: pointer;
    transition: 0.06s ease-in-out;
}
button:active{
   background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
h2{
    color: hsl(75, 94%, 57%);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}
h1{
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 8px;
    text-align: center;
}
p{
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}
.attribution {
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: hsl(0, 0%, 100%);
    padding: 10px;
}
  
.attribution a {
    text-decoration: none;
    color: hsl(75, 94%, 57%);
    font-weight: 500;
}
footer{
    position: absolute;
    bottom: 1px;
}
  
@media screen and (max-width: 768px) {
    .column{
        position: absolute;
        left: 25%;
        width: 50%;
    }
    img{
        height: 28%;
        width: 28%;
    }
}
@media screen and (max-width: 430px) {
    .column{
        position: absolute;
        left: 17.5%;
        width: 65%;
    }
    img{
        height: 29%;
        width: 29%;
    }
}
@media screen and (max-width: 376px) {
    .column{
        position: absolute;
        left: 7.5%;
        width: 85%;
    }
    img{
        height: 29%;
        width: 29%;
    }
}