*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(228, 33%, 97%);
    padding: 25px;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: absolute;
    top: 5%;
    left: 20%;
}
.comment_1, .comment_2{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 12px;
}
.comment_enter, .new_comment_enter{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    width: 100%;
    height: 130px;
    margin-bottom: 15px;
    padding: 12px;
}

.replies, .replies_cloned{
    display: flex;
    flex-direction: row;
    width: 99.9%;
    height: auto;
    margin-bottom: 25px;
}
.first_row div img{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
}
.replies .div1, .replies_cloned .div1{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: auto;
}
.replies::before, .replies_cloned::before{
    content:"";
    width: 3px;
    background-color: hsl(0, 0%, 81%);
    height: auto;
    position: relative;
    left: 5%;
    top: 0%;
    border-radius: 10px;
    z-index: 2;
}
.comment_3::after, .comment_4::after{
    content:"";
    width: 2.5px;
    background-color: hsl(238, 40%, 52%);
    height: 0%;
    position: relative;
    left: -107.69%;
    bottom: 0px;
    transition: 0.15s ease-out;
    z-index: 3;
    border-radius: 10px;
}
.comment_3:hover::after, .comment_4:hover::after{height:100%;}
.comment_3, .comment_4{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    width: 90%;
    height: auto;
    margin-bottom: 15px;
    padding: 12px;
}
.minus_plus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(223, 19%, 93%);
    border-radius: 12px;
    width: 35px;
    height: 85px;
    margin-right: 15px;
}
.account{
    font-size: 16px;
    color: hsl(238, 40%, 52%);
    font-weight: 400;
}
.minus_btn, .plus_btn{
    width: 25px;
    height: 25px;
    background-color: transparent;
    color: hsl(238, 40%, 52%);
    font-size: 20px;
    cursor: pointer;
    border: none;
}
.comment_1_content, .comment_2_content, .comment_3_content, .comment_4_content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 92%;
}
.paragraph{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: hsl(211, 10%, 45%);
    font-weight: 400;
}
.first_row, .first_row div{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 160px;
}
.first_row{
    width: 100%;
    padding: 10px;
}
.first_row img{
    width: 15px;
    height: 15px;
    margin-right: 15px;
}
.first_row .p1{
    font-size: 18px;
    color: hsl(212, 24%, 26%);
    font-weight: 700;
    margin-right: 15px;
}
.first_row .you{
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(238, 40%, 52%);
    font-weight: 300;
    margin-right: 15px; 
    border-radius: 6px;
    padding: 2px 6px;
}
.first_row .p2{
    font-size: 16px;
    color: hsl(211, 10%, 45%);
    font-weight: 400;
    margin-right: 15px;
}
.reply, #reply{
    color: hsl(238, 40%, 52%);
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.15s ease-out;
}
.reply:hover, #reply:hover{
    transform: scale(1.1);
}
.reply:active, #reply:active{
    color: hsl(239, 57%, 85%);
}
.reply i:active, #reply i:active{
    transform: translate(-8%, 0);
}
.delete{
    color: hsl(358, 79%, 66%);
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.15s ease-out;
}
.delete:hover{
    transform: scale(1.1);
}
.delete:active{
    color: hsl(357, 100%, 86%);
}
.delete i:active{
    transform: perspective(150px) rotateX(45deg);
}
.add_comment{
    background-color: hsl(238, 40%, 52%);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    left: 90%;
    z-index: 10;
    transition: 0.16s ease-out;
}
.add_comment:hover{
    transform: scale(1.1) rotate(180deg);
}
.add_comment:active{
    color: hsl(238, 40%, 52%);
    background-color: hsl(239, 57%, 85%);
}
.comment_enter, .new_comment_enter{
    display: none;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    position: fixed;
    bottom: 10px;
    width: 60%;
    padding: 20px 35px;
    background-color: hsla(240, 58%, 85%, 0.45);
    backdrop-filter: blur(1.3px);
    z-index: 10;
    transition: 0.6s ease-out;
}
.comment_enter textarea, .new_comment_enter textarea{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 90%;
    padding: 12px;
    border-radius: 8px;
    outline: none;
    background-color: rgb(248, 249, 255);
    border: none;
}
.comment_enter textarea:hover, .new_comment_enter textarea:hover{
    box-shadow: 1.5px 12px 12px hsla(238, 40%, 52%, 0.201);
}
.comment_enter textarea:focus, .new_comment_enter textarea:focus{
    border: solid 1.5px hsl(238, 40%, 52%);
}
.comment_enter textarea::placeholder, .new_comment_enter textarea::placeholder{
    color: hsl(211, 10%, 45%);
    font-weight: 800;
}
.send_btn, .new_send_btn{
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(238, 40%, 52%);
    font-weight: 300;
    margin-right: 15px; 
    border: none;
    border-radius: 6px;
    padding: 2px 6px;
    cursor: pointer;
    transition: 0.15s ease-out;
}
.send_btn:hover, .new_send_btn:hover{
    transform: scale(1.1);
}
.send_btn:active, .new_send_btn:active{
    color: hsl(238, 40%, 52%);
    background-color: hsl(239, 57%, 85%);
}